.face {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}

.shape, .face, .face-wrapper, .cr {
	position: absolute;
	transform-style: preserve-3d;
}

.scene {
	width: 100%;
	height: 300px;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(-25deg) rotateY(-135deg);
	-moz-transform: rotateX(-25deg) rotateY(-135deg);
	-ms-transform: rotateX(-25deg) rotateY(-135deg);
	transform: rotateX(-25deg) rotateY(-135deg);
}

.shape {
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	transform-origin: 50%;
}

.face, .face-wrapper {
	overflow: hidden;
	transform-origin: 0 0;
	backface-visibility: hidden;
	/* hidden by default, prevent blinking and other weird rendering glitchs */
}

.face {
	background-size: 100% 100% !important;
	background-position: center;
}

.face-wrapper .face {
	left: 100%;
	width: 100%;
	height: 100%
}

.side {
	left: 50%;
}

.cr, .cr .side {
	height: 100%;
}

[class*="cuboid"] .ft, [class*="cuboid"] .bk {
	width: 100%;
	height: 100%;
}

[class*="cuboid"] .bk {
	left: 100%;
}

[class*="cuboid"] .rt {
	transform: rotateY(-90deg) translateX(-50%);
}

[class*="cuboid"] .lt {
	transform: rotateY(90deg) translateX(-50%);
}

[class*="cuboid"] .tp {
	transform: rotateX(90deg) translateY(-50%);
}

[class*="cuboid"] .bm {
	transform: rotateX(-90deg) translateY(-50%);
}

[class*="cuboid"] .lt {
	left: 100%;
}

[class*="cuboid"] .bm {
	top: 100%;
}

/* .cub-1 styles */
.cub-1 {
	transform: translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateY(0deg);
	opacity: 1;
	width: 7em;
	height: 7em;
	margin: -3.5em 0 0 -3.5em;
}

.cub-1 .ft {
	transform: translateZ(3.5em);
}

.cub-1 .bk {
	transform: translateZ(-3.5em) rotateY(180deg);
}

.cub-1 .rt, .cub-1 .lt {
	width: 7em;
	height: 7em;
}

.cub-1 .tp, .cub-1 .bm {
	width: 7em;
	height: 7em;
}

.cub-1 .face {
	background-color: #00ff00;
}

.cub-1 {
	-webkit-animation: rotateEndless 5s;
	animation: rotateEndless 5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-delay: 0;
	-webkit-animation-delay: 0;
	animation-direction: normal;
	-webkit-animation-direction: normal;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

/**Adding Keyframes**/
@-webkit-keyframes rotateEndless {
	0% {
		-moz-transform: rotateY(360deg) rotateX(360deg);
		-o-transform: rotateY(360deg) rotateX(360deg);
		-ms-transform: rotateY(360deg) rotateX(360deg);
		-webkit-transform: rotateY(360deg) rotateX(360deg);
		transform: rotateY(360deg) rotateX(360deg);
	}
	100% {
		-moz-transform: rotateY(0deg) rotateX(0deg);
		-o-transform: rotateY(0deg) rotateX(0deg);
		-ms-transform: rotateY(0deg) rotateX(0deg);
		-webkit-transform: rotateY(0deg) rotateX(0deg);
		transform: rotateY(0deg) rotateX(0deg);
	}
}
